# Backup files
*.bak

# Distribution
dist/

# Environment-specific
.env
.env.*

# Log files
*.log*

# Misc
.DS_Store

# Package manager artifacts
.yarn/
node_modules/

# TypeScript artifacts
*.tsbuildinfo
