# Backup files
*.bak

# Bootstrap artifacts
.bootstrap/

# Cache files
.cache/

# Distribution
dist/

# Environment-specific
.env
.env.*

# Export-map-generator temporary files
*.state

# Log files
*.log*

# Misc
.DS_Store

# Package manager artifacts
.yarn/
node_modules/

# Testing and coverage artifacts
coverage/

# TypeScript artifacts
*.tsbuildinfo
