# Backup files
*.bak

# Build artifacts
.build/

# Cache files
.cache/

# Distribution
dist/

# Environment-specific
.env.*

# ESLint artifacts
eslint.config.bundled_*.mjs

# Export-map-generator safe-write artifacts
package.json.state

# Holypack artifacts
.holypack/

# Log files
*.log*

# Misc
.DS_Store

# Package manager artifacts
.yarn/
node_modules/

# Testing and coverage artifacts
.coverage/

# TypeScript artifacts
*.tsbuildinfo

# User files
.local/
